.notes-container {
  margin: auto !important;
  margin-top: 80px !important;
  padding-bottom: 10px;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .notes-container {
    width: 90vw;
  }
}

@media screen and (min-width: 451px) and (max-width: 900px) {
  .notes-container {
    width: 450px;
  }
}
@media screen and (min-width: 901px) and (max-width: 1350px) {
  .notes-container {
    width: 900px;
  }
}
@media screen and (min-width: 1351px) {
  .notes-container {
    width: 1350px;
  }
}
