.grid {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-auto-rows: 0;
  justify-content: center;
}
.item {
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}
